@keyframes bubbles {

   0%
   {
		bottom: 10%;
		opacity: 0;
   }

   30%
   { opacity: 1 }

   70%
   { opacity: 1 }

   100%
   {
		bottom: calc( 90% - 50px);
		opacity: 0;
   }

}

@keyframes typingEffect {

	from { width: 0; }
	to { width: 100%; }

}

@keyframes blinkingTypeWriter {

	from, to { background: transparent; }

	50%
	{ background: orange; }

}