@import url("animate_portfolio.css");
@import url("https://fonts.googleapis.com/css?family=Encode Sans|Andada Pro|Sora|JetBrains Mono|Manrope|Archivo|Roboto|Spectral|Lato|Oswald|Montserrat|Poppins|Oxygen|Open Sans");

:root {

	--main-bg-color:  hsl(196, 54%, 65%);
	--second-bg-color: hsl(196, 54%, 51.25%);
	--third-bg-color: hsl(196, 54%, 32.5%);
	--fourth-bg-color: hsl(196, 54%, 18.75%);
	--final-bg-color: hsl(196, 54%, 5%);
	--bg-color: #f8f9fa;
	--prime-color: #00b8ca;
	--second-color: #00dfa5;
	--white-color:  #fff;
	--black-color:  #000;
	--shadow-color: #444;
	--text-color-white-bg: #808080;

	--shadow-text: 1px 1px 0 var(--shadow-color);

}

@media only screen and (min-width: 0px) { /* //////////////////////////////// public ////////////////////////////////// */

    .hamburger.active .bar:nth-child(2) {

        opacity: 0;

    }

    .hamburger.active .bar:nth-child(1) {

        transform: translateY(11px) rotate(45deg);

    }

    .hamburger.active .bar:nth-child(3) {

        transform: translateY(-11px) rotate(-45deg);

    }

}

@media only screen and (max-width: 1200px) { /* //////////////////////////////// 1200px ////////////////////////////////// */

	.services-table {

		grid-template-columns: 1fr 1fr;

	}

	.contact-table {

		grid-template-columns: 1fr 1fr;
		grid-gap: 36px;

	}

}


@media only screen and (max-width: 1000px) { /* //////////////////////////////// 1000px ////////////////////////////////// */

	.top nav ul {

		font-size: .9em;

	}

	.z-align {

		flex-direction: column;
		align-items: flex-start;
		height: 5em;

	}

	.z-align nav {

		margin-left: 0;

	}

	.z-align nav ul li {

		flex-grow: 0;

	}

	.z-align nav ul li::after {

		display: none;

	}

}

@media only screen and (max-width: 940px) { /* //////////////////////////////// 940px ////////////////////////////////// */

	/* ===== Public ===== */

	section > .tag {

		margin-bottom: 2em;

	}

	/* ===== Footer ===== */
	.z-align {

		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: fit-content;

	}

	.z-align nav {

		display: none;

	}

	.z-align .toggle {

		display: flex;

	}

	.summerized.active {

		height: 295px;

	}

	.summerized > .nav-bar {

		display: block;
		position: absolute;
		bottom: 9px;
		left: 0;
		width: 100%;
		z-index: 0;
		background: hsl(196, 54%, 15%);

	}

	.summerized > .nav-bar ul {

		flex-direction: column;
		align-items: center;

	}

	.summerized > .nav-bar ul li {

		width: 70%;
		position: relative;

	}

	.summerized > .nav-bar ul li:not(:last-child)::after {

		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: #ccc;

	}

	.summerized > .nav-bar ul li a {

		display: block;
		padding: 8px 0;
		width: 100%;
		height: 100%;

	}

	.summerized > .nav-bar ul li a:hover,
	.summerized > .nav-bar ul li a:focus {

		color: #eee;
		background: hsl(196, 54%, 20%);
		outline: none;

	}

}

@media only screen and (max-width: 900px) { /* //////////////////////////////// 900px ////////////////////////////////// */

	/* ===== Header ===== */

	.top {

		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 8px;
		padding-bottom: 8px;
		height: fit-content;

	}

	.top nav {

		width: 80%;

	}

	/* ====== Main ====== */

	.learning-skills {

		grid-template-columns: 1fr 1fr;
		grid-gap: 4rem 3rem;

	}

	.backend {

		grid-area: span 1 / span 2;

	}

	.learned-skills {

		grid-template-columns: 1fr;
		grid-gap: 2rem;
		box-shadow: none;
		margin: 4rem 0 0 0;

	}

	.cpp {

		grid-area: span 1;

	}

	/* ===== Footer ===== */

	.question {

		flex-direction: column;
		align-items: flex-start;

	}

	.question .email {

		margin-top: 10px;

	}

	.question .email h6 {

		letter-spacing: 9.5px;
		padding: 0 0 4px 0;

	}

	.copy-section {

		justify-content: flex-start;

	}

	.copy-section .made-by {

		position: relative;

	}

	.copy-section .made-by::before {

		content: '|';
		position: relative;
		height: 100%;
		width: fit-content;
		display: inline-block;
		color: #a1a1a1;
		padding: 0 10px;

	}

}

@media only screen and (max-width: 800px) {	/* //////////////////////////////// 800px ////////////////////////////////// */

	/* ===== Public ===== */

	section > .tag {

		margin-bottom: 1em;

	}	

	/* >>>>> Resume_Section <<<<< */

	.cv {

		justify-content: center;

	}

	.cv img {

		display: none;

	}

	.cv-details {

		width: 100%;

	}

	.cv-lists {

		height: 250px;

	}

	.cv-lists .span {

		font-size: 0.9em;
		letter-spacing: -1px;

	}

	/* >>>>> Contact_Section <<<<< */

	.contact-table {

		grid-template-columns: 1fr;

	}

}

@media only screen and (max-width: 750px) { /* //////////////////////////////// 750px ////////////////////////////////// */

	.main-bg {

		clip-path: ellipse(115% 100% at 17% 0%);

	}

	.second-bg {

		clip-path: ellipse(135% 100% at 17% 0%);

	}

	.third-bg {

		clip-path: ellipse(155% 100% at 17% 0%);

	}

	.fourth-bg {

		clip-path: ellipse(175% 100% at 17% 0%);

	}

	.final-bg {

		clip-path: ellipse(195% 100% at 17% 0%);

	}

	.services-table {

		grid-template-columns: 1fr;

	}

}

@media only screen and (max-width: 715px) {

	.copy-section {

		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

	}

	.copy-section .made-by::before {

		display: none;

	}

}

@media only screen and (max-width: 700px) { /* //////////////////////////////// 700px ////////////////////////////////// */

	/* ===== Header ===== */

	.top nav {

		position: absolute;
		width: 100%;
		z-index: 9998;
		background: hsl(196, 54%, 75%);
		bottom: 0;
		left: -100%;
		transform: translateY(100%);
		border-radius: 10px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		text-align: center;
		box-shadow: 0 10px 27px var(--shdow-color);
		height: 20em;
		opacity: 0;
		transition: 0.3s;

	}


	.top .nav-menu.active {

		display: flex;
		bottom: 0;
		left: 0;
		opacity: 1;

	}


	.top nav ul {

		flex-direction: column;
		align-items: center;
		height: 100%;

	}

	.top nav ul li {

		justify-content: center;
		align-items: center;
		width: 90%;
		position: relative;
		flex-grow: 1;

	}

	.top nav ul li:not(:last-child)::after {

		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: #333;

	}

	.top nav ul li a {

		width: 100%;
		height: 100%;
		display: inherit;
		align-items: center;
		justify-content: center;

	}

	.top nav ul li a:hover,
	.top nav ul li a:focus {

		background: hsl(196, 54%, 80%);
		outline: none;


	}

	.top nav ul li a::before, 
	.top nav ul li a::after {

		display: none;

	}

	.top .toggle {

		display: flex;

	}

	/* ====== Main ====== */

	.learning-skills {

		grid-template-columns: 1fr;
		grid-gap: 4rem;

	}

	.backend {

		grid-area: span 1;

	}

	.projects-table {

		grid-template-columns: 1fr;
		grid-gap: 1px;

	}

	.card1 {

		grid-area: span 1;

	}

}

@media only screen and (max-width: 500px) { /* //////////////////////////////// 500px ////////////////////////////////// */

	.logo-name {

		align-self: flex-start;

	}

	.main-bg {

		clip-path: ellipse(125% 100% at 17% 0%);

	}

	.second-bg {

		clip-path: ellipse(145% 100% at 17% 0%);

	}

	.third-bg {

		clip-path: ellipse(165% 100% at 17% 0%);

	}

	.fourth-bg {

		clip-path: ellipse(185% 100% at 17% 0%);

	}

	.final-bg {

		clip-path: ellipse(205% 100% at 17% 0%);

	}

	.welcome-text {

		font-size: 1.1em;

	}

	.name-h {

		font-size: 2.5em;

	}

}

@media only screen and (max-width: 400px) { /* //////////////////////////////// 400px ////////////////////////////////// */

	.main-bg {

		clip-path: ellipse(135% 100% at 17% 0%);

	}

	.second-bg {

		clip-path: ellipse(155% 100% at 17% 0%);

	}

	.third-bg {

		clip-path: ellipse(175% 100% at 17% 0%);

	}

	.fourth-bg {

		clip-path: ellipse(195% 100% at 17% 0%);

	}

	.final-bg {

		clip-path: ellipse(215% 100% at 17% 0%);

	}

	.welcome-text {

		font-size: 0.9em;

	}

	.name-h {

		font-size: 2em;

	}

}

@media only screen and (max-width: 350px) { /* //////////////////////////////// 350px ////////////////////////////////// */

	.top .logo-name {

		font-size: 1.5em;

	}

	.intro-text {

		font-size: 0.9em;

	}

	.summerized .logo-name {

		font-size: 2em;

	}

}
